<h2>Editar Perfil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <%= f.label :nombres, class: "form-label"%><br />
    <%= f.text_field :nombres, autofocus: true, autocomplete: "nombres", class: "form-control" %>
  </div>
  
  <div class="field form-group">
    <%= f.label :apellidos, class: "form-label" %><br />
    <%= f.text_field :apellidos, autocomplete: "apellidos", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :rut, class: "form-label" %><br />
    <%= f.text_field :rut, autocomplete: "rut", class: "form-control" %>
  </div>
  
  <div class="field form-group">
    <%= f.label :edad, class: "form-label" %><br />
    <%= f.text_field :edad, autocomplete: "edad", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :cargo, class: "form-label" %><br />
    <%= f.text_field :cargo, autocomplete: "cargo", class: "form-control" %>
  </div>
  
  <div class="field form-group">
    <%= f.label :descripcion, class: "form-label" %><br />
    <%= f.text_area :descripcion, autocomplete: "descripcion", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :pretension, "Pretension de Renta", class: "form-label" %><br />
    <%= f.text_field :pretension, autocomplete: "pretension", class: "form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :password, "Contrase単a", class: "form-label" %> <i>(dejar en blanco si no se quiere cambiar)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> caracteres minimo</em>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation, "Confirmar Contrase単a" , class: "form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :current_password, "Contrase単a actual", class: "form-label" %> <i>(Ingresa tu contrase単a para actualizar datos)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <br />
  <div class="actions">
    <%= f.submit "Actualizar", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Eliminar mi cuenta</h3>

<div>Descontento? <%= button_to "Eliminar mi cuenta", registration_path(resource_name), data: { confirm: "Estas seguro?", turbo_confirm: "Estas seguro??" }, method: :delete, class: "btn btn-danger" %></div>
<br />
<%= link_to "Back", :back, class: "btn btn-secondary" %>
