<div id="<%= dom_id postulation %>">
  <p>
    <strong>ID Postulacion:</strong>
    <%= postulation.id %>
  </p>
  <p>
    <strong>Titulo:</strong>
    <%= postulation.post.titulo %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= postulation.post.descripcion %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= postulation.post.estado %>
  </p>

</div>
