<div id="<%= dom_id postulation %>">
  <p>
    <strong>ID Postulacion:</strong>
    <%= postulation.id %>
  </p>
  <p>
    <strong>Titulo:</strong>
    <%= postulation.post.titulo %>
  </p>
  <p>
    <strong>Descripcion:</strong>
    <%= postulation.post.descripcion %>
  </p>
  <p>
    <strong>Estado:</strong>
    <%= postulation.post.estado %>
  </p>
  <p>
    <strong>Fecha de postulacion:</strong>
    <%= postulation.created_at %>
  </p>
  <p>
    <strong>Nombres del candidato:</strong>
    <%= postulation.user.nombres %>
  </p>
  <p>
    <strong>Apellidos del candidato:</strong>
    <%= postulation.user.apellidos %>
  </p>
  <p>
    <strong>Edad del candidato:</strong>
    <%= postulation.user.edad %>
  </p>
  <p>
    <strong>Email del candidato:</strong>
    <%= postulation.user.email %>
  </p>
  <p>
    <strong>Cargo actual:</strong>
    <%= postulation.user.cargo %>
  </p>
  <p>
    <strong>Presentacion:</strong>
    <%= postulation.user.descripcion %>
  </p>
  <p>
    <strong>Pretension de renta:</strong>
    <%= postulation.user.pretension %>
  </p>
  <p class="imagen-perfil">
    <strong>Foto candidato:</strong>
    <%= image_tag postulation.user.foto, class: "img-fluid" %>
  </p>
</div>
