<div id="<%= dom_id post %>">
  <p>
    <strong>ID Publicacion:</strong>
    <%= post.id %>
  </p>
  <p>
    <strong>Titulo:</strong>
    <%= post.titulo %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= post.descripcion %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= post.estado %>
  </p>

</div>
