<%= render @post %>

<div>
  <%= button_to "Postular", postulations_path(post_id: @post.id), method: :post, class: "btn btn-primary" %>
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Editar", edit_post_path(@post), class: "btn btn-primary my-1" %> 
    <%= button_to "Eliminar", @post, method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-danger my-1" %>
  <% end %>
  <%= link_to "Volver", posts_path, class: "btn btn-primary" %> 
</div>
